.gradle/
__pycache__/
/.idea/
.vscode/
*.ipr
*.iws
*.iml
ml/
build/
target/
*.log
*.out
.DS_Store
/vendor/
gradlew.bat
es5/
/classes/
out/
pipeline.yml
.classpath
.vscode/
.settings/
.project
**/bin/main/
**/bin/test/
venv/
**/node_modules
**/output
lib/
gradlew
gradle/
*.md

