<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h3>Register User</h3>
    <form action="/user/register" name="inputform" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="fname">Name</label>
            </div>
            <div class="col-25">
                <input id="name" class="form-control" type="text" name="name"   required/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="fname">Password</label>
            </div>
            <div class="col-25">
                <input id="password" class="form-control" type="text" name="password"   required/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="fname">Date Of Birth</label>
            </div>
            <div class="col-25">
                <input id="dob" class="form-control" type="text" name="dob"   required/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="fname">SSN</label>
            </div>
            <div class="col-25">
                <input id="ssn" class="form-control" type="text" name="ssn"   required/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <input type="submit" value="register" onclick="IsEmpty();"/>
            </div>
        </div>
    </form><br>
</div>

</body>
</html>